body{
    body {
    background-color: #000;  
    color: #fff;             
    margin: 0;
    font-family: Arial, sans-serif;
}
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
}
h2{
    color: red;
}
li{
    color: red;
}
ul{
    list-style-type: none;

    
    
}
header {
    text-align: center;
    padding: 20px 0;
    background-color: #000; 
}

.logo img {
    width: 180px;   
    height: auto;
    border-radius: 50%; 
}
iframe {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

