body{
    
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
}
h2{
    color: red;
}
li{
    color: red;
}
ul{
    list-style-type: none;
    
    
}